@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

/*Para todos los html en general*/
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: var(--color_fondo);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --color_fondo: #f4ebdf;
    --color_oliva: #867551;
    --color_verde: #3f4021;
    --color_terracota: #bc6c25;
}

/*cuerpos tipográficos*/
h1 {
    color: white;
    text-align: center;
    text-shadow: 5px 7px 3px var(--color_verde);
    font-family: "Montserrat";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 60px;
}

h2 {
    color: var(--color_oliva);
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

h3 {
    color: white;
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    margin: 15px;
}

p {
    color: var(--color_verde);
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

/*NAVEGADOR*/
nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
    gap: 50px;
}

.botonera_nav {
    display: flex;
    padding-top: 15px;
    gap: 35px;
}

.boton_html {
    color: var(--color_verde);
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    border: 4px solid var(--color_verde);
    border-radius: 60px;
    padding: 10px 20px;
}

#nav_abierto {
    background-color: var(--color_verde);
    color: white;
}

/*animacion del nav*/
.boton_html,
.boton_index {
    position: relative;
    transition: transform 0.4s;
}

.boton_html:hover {
    transform: scale(1.1);
}

.boton_index:hover {
    transform: scale(1.5);
}

/*FOOTER*/
.caja_footer {
    position: relative;
    width: 100%;
    margin-top: 300px;
}

.caja_footer img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.flex_footer p {
    position: absolute;
    bottom: 15px;
    left: 50px;
    z-index: 2;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

#footer_redes {
    position: absolute;
    bottom: 30px;
    right: 110px;
    align-items: center;
    z-index: 2;
    display: flex;
    gap: 100px;
}

#fb img, #ig img {
    width: 50px;
    height: 50px;
}

#youtube img {
    height: 50px;
    width: 71px;
}

/*HEADER*/

.contenedor_header {
    position: relative; 
    width: 100%; 
    margin: 0; 
    overflow: hidden; 
}

.contenedor_header h1 {
    position: absolute; 
    z-index: 1; 
    top: 200px; 
    left: 50%;
    transform: translateX(-50%); 
}

.contenedor_header nav {
    position: absolute; 
    z-index: 20; 
    top: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 90%; 
}


/*CONTACTO*/
/*sección arriba*/
.cont_contacto {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.cont_contacto p {
    color: var(--color_oliva);
    font-size: 1.8rem;
    font-style: italic;
    line-height: 40px;
}

/*sección central*/
.contenedor_arriba {
    display: flex;
    align-items: center;
    margin-left: 80px;
    gap: 160px;

}

/*formulario*/
.contenedor_form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color_oliva);
    padding: 30px 30px;
    border-radius: 60px;
}

.flex_identidad {
    display: flex;
    gap: 10px;
    width: 100%;
}

.flex_identidad input {
    flex: 1;
}

input,
textarea {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 35px;
    padding: 15px 25px;
}

textarea {
    resize: vertical;
    height: 200px;
}

#boton_enviar {
    background-color: var(--color_verde);
    margin: auto;
    padding: 12px;
    width: 40%;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton_enviar:hover {
    background-color: var(--color_terracota)
}

/*datos de contacto*/
.info_contacto {
    color: var(--color_terracota);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.flex_li {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*seccion suscripción*/
.cont_suscribite {
    display: flex;
    flex-direction: column;
    background-color: var(--color_verde);
    width: 30%;
    align-items: center;
    border-radius: 60px;
    padding: 35px;
    margin: 60px auto;
    box-shadow: 20px 15px 30px 0 var(--color_oliva);
}

.cont_suscribite p {
    color: white;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.form_suscripcion input[type="email"] {
    flex: 6;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 60px 0 0 60px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

#boton_sus {
    flex: 1;
    padding: 12px 20px;
    border: none;
    border-radius: 0 60px 60px 0;
    background-color: var(--color_oliva);
    color: white;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

#boton_sus:hover {
    background-color: var(--color_terracota);
}