@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

/*Para todos los html en general*/
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: var(--color_fondo);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --color_fondo: #f4ebdf;
    --color_oliva: #867551;
    --color_verde: #3f4021;
    --color_terracota: #bc6c25;
}

/*cuerpos tipográficos*/
h1 {
    color: white;
    text-align: center;
    text-shadow: 5px 7px 3px var(--color_verde);
    font-family: "Montserrat";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 60px;
}

h2 {
    color: var(--color_verde);
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

h3 {
    color: white;
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    margin: 15px;
}

p {
    color: var(--color_verde);
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

/*NAVEGADOR*/
nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
    gap: 50px;
}

.botonera_nav {
    display: flex;
    padding-top: 15px;
    gap: 35px;
}

.boton_html {
    color: var(--color_verde);
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    border: 4px solid var(--color_verde);
    border-radius: 60px;
    padding: 10px 20px;
}

#nav_abierto {
    background-color: var(--color_verde);
    color: white;
}

/*animacion del nav*/
.boton_html,
.boton_index {
    position: relative;
    transition: transform 0.4s;
}

.boton_html:hover {
    transform: scale(1.1);
}

.boton_index:hover {
    transform: scale(1.5);
}

/*HEADER*/
.contenedor_header {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: none;
}

.contenedor_header img,
#forma_irregular {
    display: block;
    width: 100%;
}

.contenedor_header h1 {
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor_header nav {
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

/*FOOTER*/
.caja_footer {
    position: relative;
    width: 100%;
    margin-top: 200px;
}

.caja_footer img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.flex_footer p {
    position: absolute;
    bottom: 15px;
    left: 50px;
    z-index: 2;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

#footer_redes {
    position: absolute;
    bottom: 30px;
    right: 110px;
    align-items: center;
    z-index: 2;
    display: flex;
    gap: 100px;
}

#fb img,
#ig img {
    width: 50px;
    height: 50px;
}

#youtube img {
    height: 50px;
    width: 71px;
}


/*INDEX*/

/*header*/
#header_index h1 {
    text-align: left;
    font-size: 7rem;
}

/*sección slider*/
.slider {
    position: relative;

    overflow: hidden;
    background: var(--color_verde);
    color: #fff;
    padding-bottom: 50px;
}

input[type="radio"] {
    display: none;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease;
    margin-left: 90px;
    margin-top: 20px;
}

.slide {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    border-radius: 60px;
    object-fit: cover;
    width: 827px;
    height: 578px;
}

.texto h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.slide p {
    line-height: 1.5;
    font-size: 1.5rem;
    color: white;
    max-width: 700px;
}

.slide a {
    background-color: var(--color_terracota);
    padding: 10px 25px;
    font-family: "Montserrat";
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 60px;
}

#slide1:checked~.slides {
    transform: translateX(0%);
}

#slide2:checked~.slides {
    transform: translateX(-100%);
}

#slide3:checked~.slides {
    transform: translateX(-200%);
}

.nav-manual {
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 30px;
}

.nav-manual label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #aaa;
    margin: 0 15px;
    cursor: pointer;
    transition: background 0.3s;
}

#slide1:checked~.nav-manual label[for="slide1"],
#slide2:checked~.nav-manual label[for="slide2"],
#slide3:checked~.nav-manual label[for="slide3"] {
    background: white;
}

/*seccion aventuras*/
.cont_actindex {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cont_actindex img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.cont_actindex h2 {
    position: absolute;
    top: 25%;
    z-index: 2;
    color: var(--color_verde);
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
}

.cont_actindex div {
    position: relative;
    z-index: 3;
    text-align: center;
}

.cont_img {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}


#img1 {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
    width: 465px;
    height: 620px;
}

#img2 {
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 3;
    width: 635px;
    height: 695px;
}

#img3 {
    position: absolute;
    top: 200px;
    left: 350px;
    z-index: 2;
    width: 509px;
    height: 407px;
}

.cont_img img:hover {
    transform: translateY(-10px) scale(1.03);
    filter: brightness(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    z-index: 4;
    /* se pone al frente mientras se hace hover */
}

.cont_actindex p {
    font-size: 1.8rem;
    max-width: 600px;

}

#boton_index {
    padding: 10px 20px;
    background-color: var(--color_verde);
    color: white;
    font-family: "Montserrat";
    font-size: 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#boton_index:hover {
    background-color: var(--color_terracota);
}

/*LA RESERVA*/
#actividades h1 {
    font-size: 4.1rem;
    top: 300px;
}

.subtitulo-reserva h2 {
    color: var(--color_terracota);
    margin-left: 95px;
}
.subtitulo-reserva p {
    font-style: italic;
    color: var(--color_terracota);
    margin-left: 95px;
}

.video-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video-reserva video {
    width: 1462px;
    height: 822px;
    border: var(--color_verde), solid, 10px;
    border-radius: 36px;
}

/*sección textos abajo del video*/

.contenedor2 {
  margin: 0 auto;
  padding: 60px 95px;
}
/*ACTIVIDADES*/
.margen_izq, .margen_der {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 90px;
}

.margen_izq h3, 
.margen_der h3 {
    color: var(--color_terracota);
    margin: 0;
    margin-bottom: 10px;
}

.margen_izq article, .margen_der article {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.bloque {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    gap: 118px;
}

.texto-reserva h2 {
    font-size: 2rem;
    color: var(--color_terracota);
    margin-bottom: 15px;
}

.imagen-reserva img {
    border-radius: 36px;
}
/*imagenes de fauna*/
/*imagenes de flora*/

/*GALERÍA*/
.fauna {
    margin: 0;
    padding: 50px;
    border: none;
    position: relative;
}

#forma_irregular {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fauna h2 {
    color: var(--color_fondo);
    position: relative;
}

.flora {
    margin-top: 90px;
    padding: 50px;
    border: none;

}

.flora h2 {
    color: var(--color_terracota);

}

.galeria {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.card {
    position: relative;
    left: 0;
    width: 100%;
    border-radius: 70px;
    height: 480px;
    overflow: hidden;
    transition: .4s ease-in-out;
    flex: .15;
    margin-top: 10px;
}

.card img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:hover {
    flex: 1 1 0;
    cursor: pointer;
    border-radius: 60px;
}

/*COMO LLEGAR*/
.auto_como_llegar{
    display: flex;
    width: 60%;
    align-items: center;
    gap: 25px;
}

/*CONTACTO*/
/*sección arriba*/
.cont_contacto {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.cont_contacto p {
    color: var(--color_verde);
    font-size: 1.8rem;
    font-style: italic;
    line-height: 40px;
    font-weight: 500;
}

/*sección central*/
.contenedor_arriba {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 80px;

}

/*formulario*/
.contenedor_form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color_oliva);
    padding: 30px 30px;
    border-radius: 60px;
}

.flex_identidad {
    display: flex;
    gap: 10px;
    width: 100%;
}

.flex_identidad input {
    flex: 1;
}

input,
textarea {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 35px;
    padding: 15px 25px;
}

textarea {
    resize: vertical;
    height: 200px;
}

#boton_enviar {
    background-color: var(--color_verde);
    margin: auto;
    padding: 12px;
    width: 40%;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton_enviar:hover {
    background-color: var(--color_terracota)
}

/*datos de contacto*/
.info_contacto {
    color: var(--color_terracota);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.flex_li {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*seccion suscripción*/
.cont_suscribite {
    display: flex;
    flex-direction: column;
    background-color: var(--color_verde);
    width: 30%;
    align-items: center;
    border-radius: 60px;
    padding: 35px;
    margin: 40px auto;
    box-shadow: 20px 15px 30px 0 var(--color_oliva);
}

.cont_suscribite p {
    color: white;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.form_suscripcion input[type="email"] {
    flex: 6;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 60px 0 0 60px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

#boton_sus {
    flex: 1;
    padding: 12px 20px;
    border: none;
    border-radius: 0 60px 60px 0;
    background-color: var(--color_oliva);
    color: white;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

#boton_sus:hover {
    background-color: var(--color_terracota);
}



/*MEDIA RESPONSIVE*/

/*contacto*/
@media screen and (max-width: 500px) {

    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 1.8rem;
        padding: 10px 20px;
        text-shadow: 2px 3px 2px var(--color_verde);
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    h3 {
        font-size: 1.2rem;
    }

    .contenedor_header img {
        height: auto;
    }

    .contenedor_header h1 {
        top: 20%;
        width: 90%;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 10px 0;
    }

    .boton_index {
        display: block;
    }

    .botonera_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .boton_html {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .cont_contacto {
        width: 85%;
        margin: 10px auto;
        text-align: center;
        gap: 5px;
    }

    .cont_contacto p {
        font-size: 1rem;
        line-height: 25px;
    }


    .contenedor_arriba {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 50px;

        width: 70%;
    }

    .contenedor_form form {
        width: 80%;
        padding: 20px 20px;
        border-radius: 20px;
        gap: 10px;
    }

    .flex_identidad {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input,
    textarea {
        font-size: 0.9rem;
        padding: 9px;

    }

    textarea {
        border-radius: 20px;
    }

    #boton_enviar {
        width: 40%;
        padding: 7px;
        font-size: 0.9rem;
    }

    .info_contacto {
        font-size: 0.9rem;
        line-height: 35px;
    }

    .flex_li {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .flex_li img {
        width: 20px;
        height: auto;
    }

    .cont_suscribite {
        width: 70%;
        padding: 20px;
        border-radius: 25px;
        box-shadow: none;
    }

    .cont_suscribite h3 {
        font-size: 1.2rem;
    }

    .cont_suscribite p {
        font-size: 0.9rem;
        line-height: 25px;
        margin: 0px;
    }

    .form_suscripcion {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 90%;
    }

    .form_suscripcion input[type="email"] {
        border-radius: 30px;
        width: 90%;
        margin: 5px;
        font-size: 0.9rem;
    }

    #boton_sus {
        border-radius: 30px;
        font-size: 0.8rem;
    }

    .caja_footer {
        margin-top: 100px;
    }

    .caja_footer img {
        height: auto;
    }

    .flex_footer p {
        position: static;
        text-align: center;
        font-size: 0.9rem;
        padding-top: 8px;
    }

    #footer_redes {
        position: static;
        justify-content: center;
        gap: 40px;
        margin: 20px 0;
    }

    #footer_redes img {
        width: 35px;
        height: 35px;
    }
}