@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

/*Para todos los html en general*/
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: var(--color_fondo);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --color_fondo: #f4ebdf;
    --color_oliva: #867551;
    --color_verde: #3f4021;
    --color_terracota: #bc6c25;
}

/*navegadores para los html*/
nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
    gap: 50px;
}

.botonera_nav {
    display: flex;
    padding-top: 15px;
    gap: 35px;
}

.boton_html {
    color: var(--color_verde);
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    border: 4px solid var(--color_verde);
    border-radius: 60px;
    padding: 10px 20px;
}

#nav_abierto {
    background-color: var(--color_verde);
    color: white;
}

/*animacion del nav*/
.boton_html,
.boton_index {
    position: relative;
    transition: transform 0.4s;
}

.boton_html:hover {
    transform: scale(1.1);
}

.boton_index:hover {
    transform: scale(1.5);
}

/*header para los html*/
.contenedor_header {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: none;
}

.contenedor_header img,
#forma_irregular {
    display: block;
    width: 100%;
}

.contenedor_header h1 {
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor_header nav {
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

/*footer para los html*/
.caja_footer {
    position: relative;
    width: 100%;
    margin-top: 200px;
}

.caja_footer img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.flex_footer p {
    position: absolute;
    bottom: 15px;
    left: 50px;
    z-index: 2;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

#footer_redes {
    position: absolute;
    bottom: 30px;
    right: 110px;
    align-items: center;
    z-index: 2;
    display: flex;
    gap: 100px;
}

#fb img,
#ig img {
    width: 50px;
    height: 50px;
}

#youtube img {
    height: 50px;
    width: 71px;
}

/*cuerpos tipográficos para los html*/
h1 {
    color: white;
    text-align: center;
    text-shadow: 5px 7px 3px var(--color_verde);
    font-family: "Montserrat";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 60px;
}

h2 {
    color: var(--color_verde);
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

h3 {
    color: white;
    font-family: "Montserrat";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    margin: 15px;
}

p {
    color: var(--color_verde);
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}



/*INDEX*/
#header_index h1 {
    text-align: left;
    font-size: 7rem;
}

/*sección slider*/
.slider {
    position: relative;

    overflow: hidden;
    background: var(--color_verde);
    color: #fff;
    padding-bottom: 50px;
}

input[type="radio"] {
    display: none;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease;
    margin-left: 90px;
    margin-top: 20px;
}

.slide {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    border-radius: 60px;
    object-fit: cover;
    width: 827px;
    height: 578px;
}

.texto h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.slide p {
    line-height: 1.5;
    font-size: 1.5rem;
    color: white;
    max-width: 700px;
}

.slide a {
    background-color: var(--color_terracota);
    padding: 10px 25px;
    font-family: "Montserrat";
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 60px;
}

#slide1:checked~.slides {
    transform: translateX(0%);
}

#slide2:checked~.slides {
    transform: translateX(-100%);
}

#slide3:checked~.slides {
    transform: translateX(-200%);
}

.nav-manual {
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 30px;
}

.nav-manual label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #aaa;
    margin: 0 15px;
    cursor: pointer;
    transition: background 0.3s;
}

#slide1:checked~.nav-manual label[for="slide1"],
#slide2:checked~.nav-manual label[for="slide2"],
#slide3:checked~.nav-manual label[for="slide3"] {
    background: white;
}

/*seccion aventuras*/
.cont_actindex {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cont_actindex img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.cont_actindex h2 {
    position: absolute;
    top: 25%;
    z-index: 2;
    color: var(--color_verde);
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
}

.cont_actindex div {
    position: relative;
    z-index: 3;
    text-align: center;
}

.cont_img {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}


#img1 {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
    width: 465px;
    height: 620px;
}

#img2 {
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 3;
    width: 635px;
    height: 695px;
}

#img3 {
    position: absolute;
    top: 200px;
    left: 350px;
    z-index: 2;
    width: 509px;
    height: 407px;
}

.cont_img img:hover {
    transform: translateY(-10px) scale(1.03);
    filter: brightness(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    z-index: 4;
    /* se pone al frente mientras se hace hover */
}

.cont_actindex p {
    font-size: 1.8rem;
    max-width: 600px;
}

#boton_index {
    padding: 10px 20px;
    background-color: var(--color_verde);
    color: white;
    font-family: "Montserrat";
    font-size: 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#boton_index:hover {
    background-color: var(--color_terracota);
}

/*LA RESERVA*/
#actividades h1 {
    font-size: 4.1rem;
    top: 300px;
}

.subtitulo-reserva h2 {
    color: var(--color_terracota);
    margin-left: 95px;
}

.subtitulo-reserva p {
    font-style: italic;
    color: var(--color_terracota);
    margin-left: 95px;
}

.video-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video-reserva video {
    width: 1462px;
    height: 822px;
    border: var(--color_verde), solid, 10px;
    border-radius: 36px;
}

/*sección textos abajo del video*/

.contenedor2 {
    margin: 0 auto;
    padding: 60px 95px;
}

.bloque {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    gap: 118px;
}

.texto-reserva h2 {
    font-size: 2rem;
    color: var(--color_terracota);
    margin-bottom: 15px;
}

.imagen-reserva img {
    border-radius: 36px;
}

/*textos abajo de las imagenes de los animales*/

.fauna-reserva h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/*imagenes de fauna*/

.nuestra-fauna {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 75px;
    margin: 60px 95px;
}

.fauna-reserva {
    width: 350px;
    text-align: center;

}

.img-container {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.img-container img {
    width: 100%;
    transition: transform 0.6s ease;
}

/*animación de las imagenes de arriba*/
.img-container:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: #3f4021;
}

.img-container:hover img {
    transform: scale(1.05);
}

/*aves*/
.seccion-aves {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 118px;
    margin: 60px 95px;
    margin-bottom: 0;
}

.texto-aves {
    width: 558px;
}

h2 .italic {
    font-style: italic;
    font-weight: 500;
    font-size: 4rem;
}

p .numeros {
    font-size: 5.6rem;
    font-style: bold;
    color: var(--color_terracota);
}

p .grande {
    font-size: 5.6rem;
    font-weight: 500;
    color: var(--color_terracota);
}

/*imagenes de flora*/
p .subtitulo-flora {
    font-size: 2rem;
    color: var(--color_fondo);
}

.contenido-flora h2 {
    color: var(--color_fondo) !important;
}

.contenido-flora p {
    color: var(--color_fondo);
}

.flora2 {
    margin: 0 95px;
}

.imagen-contenido {
    display: block;
    width: 100%;
    height: auto;
}

.imagen-contenido img {
    margin-bottom: 70px;
}

.contenido-flora {
    position: absolute;
    width: 40%;
    transform: translateY(290px);
    color: var(--color_fondo);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

/*ACTIVIDADES*/

.margen_izq {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px;
    gap: 100px;
}

.margen_der {
    position: relative;
    min-height: 700px;
    overflow: hidden;
}

.margen_der img:nth-child(1) {
    position: absolute;
    width: 1800px;
    height: 700px;
    max-width: 1800px;
    z-index: 1;
}

#margin_cero img:nth-child(1) {
    right: 0;
}

.margen_der img:nth-child(2) {
    position: absolute;
    top: 42%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 2;
}

.margen_der article {
    position: absolute;
    top: 45%;
    right: 24%;
    transform: translateY(-50%);
    width: 30%;
    z-index: 2;

}

.margen_izq h3,
.margen_der h3 {
    color: var(--color_terracota);
    margin: 0;
    margin-bottom: 10px;
}

.margen_izq article {
    display: flex;
    flex-direction: column;
    width: 30%;
}


/*GALERÍA*/
.fauna {
    margin: 0;
    padding: 50px;
    border: none;
    position: relative;
}

#forma_irregular {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fauna h2 {
    color: var(--color_fondo);
    position: relative;
}

.flora {
    margin-top: 90px;
    padding: 50px;
    border: none;

}

.flora h2 {
    color: var(--color_terracota);

}

.galeria {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

.card {
    position: relative;
    left: 0;
    width: 100%;
    border-radius: 70px;
    height: 480px;
    overflow: hidden;
    transition: .4s ease-in-out;
    flex: .15;
    margin-top: 10px;
}

.card img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card:hover {
    flex: 1 1 0;
    cursor: pointer;
    border-radius: 60px;
}

/*COMO LLEGAR*/

#como_llegar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon_como_llegar {
    display: flex;
    width: 60%;
    align-items: center;
    gap: 25px;
}

.art_como_llegar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto_mapa{
    border-radius: 20px;
}

/* CONTACTO */
/*sección arriba*/
.cont_contacto {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.cont_contacto p {
    color: var(--color_verde);
    font-size: 1.8rem;
    font-style: italic;
    line-height: 40px;
    font-weight: 500;
}

/*sección central*/
.contenedor_arriba {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 80px;
    gap: 50px;

}

/*formulario*/
.formulario {
    background: var(--color_oliva);
    color: white;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    flex: 1;
    border-radius: 30px;
    max-width: 800px;
    margin-left: 90px;
}

.formulario form {
    padding: 30px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.formulario input,
.formulario textarea {
    border: 0;
    border-radius: 40px;
    min-height: 40px;
}

.formulario textarea {
    padding: 65px;
    resize: vertical;
    height: 200px;
}

.formu_flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
}

#nombre-apellido {
    display: flex;
    gap: 15px;
}

#boton_enviar {
    border: none;
    border-radius: 30px;
    background-color: var(--color_verde);
    padding: 12px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
    margin: auto;
    width: 40%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton_enviar:hover {
    background-color: var(--color_terracota)
}

/*datos de contacto*/
.info_contacto {
    color: var(--color_terracota);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.flex_li {
    display: flex;
    align-items: center;
    gap: 15px;
}

/*seccion suscripción*/
.cont_suscribite {
    display: flex;
    flex-direction: column;
    background-color: var(--color_verde);
    width: 30%;
    align-items: center;
    border-radius: 60px;
    padding: 35px;
    margin: 40px auto;
    box-shadow: 20px 15px 30px 0 var(--color_oliva);
}

.cont_suscribite p {
    color: white;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.form_suscripcion {
    display: flex;
    border-radius: 60px;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}


.form_suscripcion input[type="email"] {
    flex-grow: 1;
    padding: 12px 15px;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 0.9rem;
}

#boton_sus {
    background-color: var(--color_oliva);
    color: white;
    padding: 12px 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 0 8px 8px 0;
    transition: background-color 0.3s ease-in;
}

#boton_sus:hover {
    background-color: var(--color_terracota);
}

/*MEDIA RESPONSIVE*/

/*media responsive para lareserva.html*/
@media only screen and (max-width: 500px) {

    html,
    body {
        overflow-x: hidden;
    }

    /* header */
    .contenedor_header img {
        width: 100%;
        height: auto;
    }

    .contenedor_header h1 {
        font-size: 3.2rem;
        padding: 0 15px;
        text-align: center;
    }

    .subtitulo-reserva h2{
        font-size: 2.9rem;
}
    .subtitulo-reserva h2,
    .subtitulo-reserva p {
        margin: 10px 20px;
        text-align: center;
    }

    /*video*/
    .video-reserva {
        height: auto;
        padding: 20px 0;
    }

    .video-reserva video {
        width: 90%;
        height: auto;
        border-radius: 15px;

    }

    /*contenedor 2*/
    .contenedor2 {
        padding: 30px 20px;
    }

    .bloque {
        flex-direction: column;
    }

    .texto-reserva h2 {
        font-size: 2rem;
        /* Reducimos el tamaño del título */
        text-align: center;
    }

    .texto-reserva p {
        font-size: 1rem;
        margin-left: 25px;
        margin-right: 25px;
        text-align: center;
    }

    .imagen-reserva img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    /*fauna*/
    .nuestra-fauna {
        flex-direction: column;
        align-items: center;
        margin: 30px 20px;
        gap: 40px;
    }

    .fauna-reserva {
        width: 80%;
        max-width: 300px;
    }

    .fauna-reserva h2 {
        font-size: 1.8rem;
    }

    .img-container:hover {
        transform: translateY(-5px) scale(1.03);
    }

    .img-container:hover img {
        transform: scale(1.03);
    }

    /*sección aves*/
    .seccion-aves {
        flex-direction: column;
        gap: 30px;
        margin: auto;
        text-align: center;
    }

    .texto-aves {
        width: 100%;
        /* Ocupa todo el ancho */
    }

   .aves img {
        width: 80%;

        height: auto;
    }

    /* Ajuste de tipografía de números y especies */
    h2 .italic {
        font-size:2.7rem;
    }
    p .numeros,
    p .grande {
        font-size: 3rem;
    }

    /* sección flora*/
    .flora2 {
        /* Apilamos y ajustamos el margen */
        display: flex;
        flex-direction: column-reverse;
        /* Imagen abajo, contenido arriba */
        margin: 0 20px;
        position: relative;
    }

    .contenido-flora {

        position: static;
        width: 100%;
        transform: none;
        margin-left: 0;
        text-align: left;
        padding-bottom: 30px;

    }

    p .subtitulo-flora {
        font-size: 1.2rem;
    }

    .imagen-contenido img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
}

/*media responsive contacto.html*/
@media (max-width: 500px) {

    html,
    body {
        overflow-x: hidden;
    }

    /* header */
    .contenedor_header img {
        width: 100%;
        height: auto;
    }

    .contenedor_header h1 {
        font-size: 3.2rem;
        padding: 0 15px;
        text-align: center;
    }

    /* Navegación*/
    nav {
        flex-direction: column;
        /* Apilamos los elementos de navegación */
        align-items: center;
        gap: 10px;
    }

    .botonera_nav {
        /* Hacemos que la botonera también se apile verticalmente */
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .boton_html {
        /* Botones de navegación ocupan el ancho completo para facilitar el toque */
        width: 90%;
        text-align: center;
        padding: 10px;
    }

    /*sección arriba*/
    .cont_contacto {
        width: 70%;
        margin: auto;
        text-align: center;
    }

    .cont_contacto p {
        font-size: 1.1rem;
        line-height: 30px;
    }

    .cont_contacto h2 {
        font-size: 2.9rem;
        margin: 10px;
    }

    .contenedor_arriba {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0 10px;
        gap: 30px;
    }

    /*formulario*/
    .formulario {
        width: 90%;
        max-width: none;
        margin: 0 auto;
    }

    .formulario form {
        padding: 20px;
    }

    #nombre-apellido {

        flex-direction: column;
        gap: 20px;
    }

    .formulario textarea {
        padding: 20px;
        height: 100px;
        border-radius: 20px;
    }

    #boton_enviar {
        width: 60%;
        padding: 15px;
    }

    /*datos de contacto*/
    .info_contacto {
        font-size: 1rem;
        line-height: 40px;
        padding-left: 0;
        text-align: left;
        margin-left: 10px;
    }

    .flex_li img {
        width: 20px;
        height: auto;
    }

    .flex_li {
        align-items: center;
        gap: 10px;
    }

    /*suscribite*/
    .cont_suscribite {
        width: 80%;
        padding: 25px 15px;
        border-radius: 40px;
    }

    .cont_suscribite h3 {
        font-size: 1.4rem;
    }

    .cont_suscribite p {
        font-size: 1rem;
    }

    .form_suscripcion {
        flex-direction: column;
        gap: 10px;
        width: 90%;
        overflow: visible;
    }

    .form_suscripcion input[type="email"] {
        border-radius: 20px;
        text-align: center;
    }

    #boton_sus {
        border-radius: 40px;
        padding: 15px 20px;
        width: 50%;
        margin: auto;
    }

    /* FOOTER */
    .caja_footer {
        display: flex;
        justify-content: space-between;
    }

    .caja_footer img {
        width: 100%;
        height: auto;
    }

    .flex_footer p {
        font-size: 1rem;
        padding: 10px 0;
    }

    #footer_redes {
        justify-content: center;
    }

    #footer_redes a img {
        width: 20px;
        height: auto;
    }
}