@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

@font-face {
    font-family: "Display";
    src: url(fonts/ReemKufi-Regular.ttf), format("truetype");
}

@font-face {
    font-family: "Display bajada";
    src: url(fonts/ReemKufi-Regular.ttf), format("truetype");
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: var(--color_fondo);
}


:root {
    --color_fondo: #f4ebdf;
    --color_oliva: #867551;
    --color_verde: #3f4021;
    --color_terracota: #bc6c25;
}


/*cuerpos tipográficos*/
h1 {
    color: white;
    text-align: center;
    text-shadow: 5px 7px 3px var(--color_verde);
    font-family: "Montserrat";
    font-size: 5.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: var(--color_oliva);
    font-family: "Montserrat";
    font-size: 4.0rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: white;
    font-family: "Montserrat";
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
}

p {
    color: var(--color_verde);
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}