@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

@font-face {
    font-family: "Display";
    src: url(fonts/ReemKufi-Regular.ttf), format("truetype");
}

@font-face {
    font-family: "Display bajada";
    src: url(fonts/ReemKufi-Regular.ttf), format("truetype");
}

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: var(--color_fondo);
}

a {
    text-decoration: none;
}

:root {
    --color_fondo: #f4ebdf;
    --color_oliva: #867551;
    --color_verde: #3f4021;
    --color_terracota: #bc6c25;
}


/*cuerpos tipográficos*/
h1 {
    color: white;
    text-align: center;
    text-shadow: 5px 7px 3px var(--color_verde);
    font-family: "Montserrat";
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 60px;
}

h2 {
    color: var(--color_oliva);
    font-family: "Montserrat";
    font-size: 4.0rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: white;
    font-family: "Montserrat";
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
}

p {
    color: var(--color_verde);
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*navegador*/
.botonera_nav {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    align-items: flex-start;
    gap: 2.25rem;
}

.boton_html {
    color: var(--color_verde);
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    border: 4px solid var(--color_verde);
    border-radius: 60px;
    padding: 10px 30px;
}

#nav_abierto {
    background-color: var(--color_verde);
    color: white;
}

/*HEADER*/
.contenedor_header {
    display: flex;
    flex-direction: column;
}