@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

@font-face {
    font-family: "Display";
    src: url(fonts/ReemKufi-Regular.ttf), format("truetype");
}

@font-face {
    font-family: "Display bajada";
    src: url(fonts/ReemKufi-Regular.ttf), format("truetype");
}