@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

@font-face {
    font-family: "Display";
    src: url(fonts/ReemKufi-Regular.ttf), format("truetype");
}

@font-face {
    font-family: "Display bajada";
    src: url(fonts/ReemKufi-Regular.ttf), format("truetype");
}

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: var(--color_fondo);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --color_fondo: #f4ebdf;
    --color_oliva: #867551;
    --color_verde: #3f4021;
    --color_terracota: #bc6c25;
}

/*cuerpos tipográficos*/
h1 {
    color: white;
    text-align: center;
    text-shadow: 5px 7px 3px var(--color_verde);
    font-family: "Montserrat";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 60px;
}

h2 {
    color: var(--color_oliva);
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: white;
    font-family: "Montserrat";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}

p {
    color: var(--color_verde);
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*navegador*/
.botonera_nav {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    align-items: flex-start;
    gap: 2.25rem;
}

.boton_html {
    color: var(--color_verde);
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    border: 4px solid var(--color_verde);
    border-radius: 60px;
    padding: 10px 30px;
}

#nav_abierto {
    background-color: var(--color_verde);
    color: white;
}

/*HEADER*/
.contenedor_header {
    display: flex;
    flex-direction: column;
}


/*CONTACTO*/
.contenedor_contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 200px;
}
.contenedor_form {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
}

.bajada_p {
    font-style: italic;
    width: 40%;
    line-height: 35px;
}

.informacion_form {
    background-color: var(--color_oliva);
    border-radius: 50px;
    width: 40%;
    padding: 30px;
    margin-left: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

input,
textarea {
    font-family: "Montserrat";
    border: none;
    font-size: 1rem;
    border-radius: 30px;
    padding: 15px;
    width: 95%;
}

textarea {
    resize: vertical;
    height: 200px;
    border-radius: 25px;
}

#boton_enviar {
    background-color: var(--color_verde);
    padding: 10px 0;
    width: 20%;
    color: white;
    font-weight: 600;
}

.info_contacto {
    color: var(--color_terracota);
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}
.flex_li {
    display: flex;
    align-items: center;
    gap: 15px;
}